<div class="item-news more-shared home">
    <div class="category">{{ fields.field_categoria.content }}</div>
    <div class="picture">
        <figure>{{ fields.field_image.content }}</figure>
    </div>
    <div class="category">{{ fields.field_categoria.content }}</div>
    <h3 class="title">{{ fields.title.content }}</h3>
    <p class="sumary">{{ fields.body.content }}</p>
    <div class="info">
        <span><b>{{ fields.field_nombre.content }}</b>,{{ fields.created.content }}</span>
    </div>
    <div class="explorer">{{ fields.nothing_1.content }}</div>
</div>