<div class="item-news destacada home">
    <figure>{{ fields.field_image.content }}</figure>
    <div class="category">{{ fields.field_categoria.content }}</div>
    <h2 class="title">{{ fields.title.content }}</h2>
    <p class="sumary">{{ fields.body.content }}</p>
    <div class="explorer">{{ fields.nothing.content }}</div>
</div>