<div class="item-news last-article home">
    <div class="category">{{ fields.field_categoria.content }}</div>
    <div class="save">
      <a href="#" class="node_saved">Guardar</a>
    </div>
    <h3 class="title">{{ fields.title.content }}</h3>
    <p class="sumary">{{ fields.body.content }}</p>
    <div class="info">
        <span class="author">{{ fields.field_nombre.content }}</span>
        <date>{{ fields.created.content }}</date>
    </div>
    <div class="explorer">{{ fields.nothing_1.content }}</div>
</div>