<footer id="footer">
  <div class="container top">    
    <div class="footer-region">
        <div class="logo">
            <img src="/{{ directory }}/images/logo.png" alt="Global Rheumatology" width="200" height="200" />
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. 
        </p>

        <div class="contact">
            <span>{% trans%} Contact us {% endtrans%}:</span>
            <a href="tel:+">123456789</a>
            <a href="mailto:">email@email.com</a>
        </div>

        <div class="social">
            <nav class="networks">
                <ul>
                  <li>Facebook</li>
                  <li>Twitter</li>
                  <li>Linkeind</li>
                </ul>
            </nav>       
        </div>
        
    </div>
    <div class="footer-region">
        {% set items = simplify_menu('menu-footer') %}
        <ul>
            {% for menu_item in items.menu_tree %}
                <li class="{{ item_class }} navigation__item">
                    <a href="{{ menu_item.url }}" class="{{ link_class }}">{{ menu_item.text }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="#" class="privacy">{% trans%} Privacy Policy {% endtrans%}</a>
    </div>
    <div class="footer-region">
      <h3>Lorem Ipsum</h3>
      <h2>{% trans%} Get the lastest news about us {% endtrans%}</h2>
      <div>
        <span>This is another description</span>
        <input type="text" placeholder="Enter your email">
        <button>{% trans%} Subscribe {% endtrans%}</button>
      </div>
    </div> 
  </div>

  <div class="container buttom">    
    <div class="footer-region">
      <div>
        <img src="/{{ directory }}/images/inteligencia-viral.webp" alt="Global Rheumatology" width="200" height="200" />
      </div>
      <p class="footer">
          Design & development by Inteligencia Viral <br> &copy;2019 Global Rheumatology by Panlar. Subject to Creative Commons Attribution licence.
      </p>
    </div>
  </div>

</footer>