<header id="header">
    <div class="container">
        <div class="lang">
            {{ page.lang }}
        </div>
        <div id="logo">
            <img src="/{{ directory }}/images/logo-black.png" alt="test-slide-1" width="200" height="200" />
        </div>
        <div class="box-menu">
            <button id="btn-menu">Menu</button>
            <div id="main-menu">
                <img src="{{ user.img_user_account }}" alt="{{ user.getUsername() | default("Usuario Invitado") }}" class="img-responsive img-circle" width="80" height="80"/>
                <div class="user">
                    <div class="info">                
                        {% if logged_in %}
                            <span>{{ user.nombres }}</span>
                        {% else %}
                            <span>{% trans%} Visitor {% endtrans%}</span>
                        {% endif %}
                        {% if logged_in %}
                            <a href="/user/{{ user.uid }}">Mi perfil</a>
                        {% endif %}
                    </div>
                </div>    
                {% set items = simplify_menu('menu-principal') %}
                <nav>
                    <ul> <!-- menu principal -->
                        {% for menu_item in items.menu_tree %}
                            <li class="{{ item_class }} navigation__item">
                                <a href="{{ menu_item.url }}" class="{{ link_class }}">{{ menu_item.text }}</a>
                            </li>
                        {% endfor %} 
                    </ul>
                </nav>
                <div class="buttom">
                    <div class="search">
                        {{ drupal_view('general', 'block_1') }}
                    </div>
                    <div class="info">
                        <ul>
                            <li>
                                <a href="http://" target="_blank" rel="noopener noreferrer">{% trans%} Support {% endtrans%}</a>
                            </li>
                            <li>
                                <a href="http://" target="_blank" rel="noopener noreferrer">{% trans%} Privacy Policy {% endtrans%}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</header>