  <!-- ______________________ MAIN _______________________ -->

  <div id="main">
    <div class="container">
      <div class="first">
        {{ drupal_view('home', 'block_1') }}
      </div>
    </div><!-- /.container -->

    <div class="container">
      <h3>{% trans%} Send my article {% endtrans%}</h3>
      <div class="sed_article">       
        <p>orem ipsum dolor sit amet, consecturasr, ser Diam</p>
        <a href="http://" target="_blank" rel="noopener noreferrer">{% trans%} Send my article {% endtrans%} </a>
      </div>
    </div><!-- /.container -->

    <div class="container">
      <h3>{% trans%} last articles {% endtrans%}</h3>
      <div class="last_news">        
        {{ drupal_view('home', 'block_3') }}
      </div>
    </div><!-- /.container -->

    <div class="container">
      <div class="top">
        <div class="left">
          <h3>{% trans%} Magazine {% endtrans%}</h3>
        </div>
        <div class="right">
          <span id="read" class="more-read active">{% trans%} Most viewed {% endtrans%}</span>
          <span id="shared" class="more-shared">{% trans%} Most shared {% endtrans%}</span>
        </div>
      </div>      
      <div class="view_news more-read active">        
        {{ drupal_view('home', 'block_4') }}
      </div>
      <div class="view_news more-shared">
        {{ drupal_view('home', 'block_5') }}
      </div>
    </div><!-- /.container -->

    <div class="container">
      <h3>{% trans%} Magazine {% endtrans%}</h3>
      <div class="magazine_news">        
        {{ drupal_view('home', 'block_6') }}
      </div>
    </div><!-- /.container -->
  </div><!-- /#main -->

