 {% if tabs %}
    <div class="tabs">{{ tabs }}</div>
 {% endif %}

 {% if action_links %}
    <ul class="action-links">{{ action_links }}</ul>
 {% endif %}

 <div id="content-area">
   {{ page.content }}
 </div>

