
{% set classes = ['node'] %}

<article{{ attributes.addClass(classes) }}>
  <div id="main">
    <div class="container">
      <div class="left"  style="background-image: url('{{ file_url(node.field_image.entity.uri.value) }}');background-repeat: no-repeat">
        <div class="box">
          <div class="top">
            {{ content.field_categoria }}
            <div class="audio">
              <a href="#" class="sound">Escuchar</a>
            </div>
            <div class="save">
              <a href="#" class="node_save">Guardar</a>
            </div>
          </div>        
        
          <h1 {{ attributes }}>
            {{ node.title.value }}
          </h1>
   
          <div class="read article">
            <span>Why you shoul read this article.?</span>
            <p class="why">"Lorem ipsum dolor sit amet, consectuers adicioas, ser"</p>
          </div>

          <div class="info article">
            
            <span><b>{{ content.field_autor }}</b>,<date>
                {{ content.field_fecha.value|date('U')|format_date('mes_ano') }}</date></span>
          </div>

          <div class="statistics">
            <div class="views">
              <i class="icon icon-views">Vistas</i>
              <span>1,909</span>
              <h5>Readers</h5>
            </div>
            <div class="downloads">
              <i class="icon icon-download">Descargas</i>
              <span>1,909</span>
              <h5>Descargas</h5>
            </div>
            <div class="shareds">
              <i class="icon icon-shared">Shared</i>
              <span>1,909</span>
              <h5>Readers</h5>
            </div>
          </div>

          <div class="tags">
            {% if content.field_tags[0] %}
              <ul>
                {% for key, item in content.field_tags if key|first != '#' %}
                <li>{{ item }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <ul>
              <li>Prueba</li>
            </ul>
          </div>

          <div class="shared">
            <ul>
              <li>
                <a href="#" class="icon icon-facebook">Facebook</a>
              </li>
              <li>
                <a href="#" class="icon icon-whatsapp">Whatsapp</a>
              </li>
              <li>
                <a href="#" class="icon icon-twitter">Twitter</a>
              </li>
              <li>
                <a href="#" class="icon icon-linkedin">Linkedin</a>
              </li>
              <li>
                <a href="#" class="icon icon-download">Download</a>
              </li>
            </ul>
          </div>
        </div>
        

      </div>
      
      <div class="right">
        <div class="content article">
          <div class="summary">
            <p>{{ node.body.summary }}</p>
          </div>
          <div class="article__body">
            {{ node.body.value|raw }}
          </div>
        </div>
      </div>
    
    </div><!-- /.container -->
    <div class="container">
      <h3>Related articles</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo</p>
      <div class="news related">
        <dd>{{ drupal_view('articulos', 'block_1') }}</dd>
      </div>
    </div><!-- /.container -->
  </div><!-- /#main -->
</article><!-- /.node -->
